web3
ruamel.yaml
requests>=2.32.4 # not directly required, pinned by Snyk to avoid a vulnerability
protobuf>=4.25.8 # not directly required, pinned by Snyk to avoid a vulnerability
aiohttp>=3.12.14 # not directly required, pinned by Snyk to avoid a vulnerability
